# Temporary
.*.swp
.*~

# Python
*.pyc

# Peak libraries
PCAN_Basic_Linux-*.tar.gz
PCAN_Basic_Linux-*
pcan-basic.zip
PCAN_Basic
*.so
tkMessageBox

# Eclipse
.project
.cproject
.pydevproject
.settings
.metadata

